*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    width: 100%;
    padding: 50px 0px;
    text-align: center;
    background-color: rgb(38, 172, 127);
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    display: flex;
}
  
/* li {
  float: left;
} */
  
li a, .dropbtn {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
.row{
    /* margin: 20px; */
    display: flex;
    /* flex-wrap: wrap; */
    padding: 20px;
}
.question{
    width: 30%;
    background-color: rgb(222, 228, 228);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: 40px;
}

.playarea{
    display: flex;
    /* flex-wrap: wrap; */
    width: 70%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 20px 20px;
    justify-content: center;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.item{
    /* border:1px solid blue; */
    height: 200px;
    width: 200px;
    margin: 20px;
}

@media screen and (max-width:1190px) {
  .row, ul{
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
      justify-content: center;
  }  
  .question, .playarea{
      width: 100%;
  }
}
